<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Prophet - The Box Office Sorcerer</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycustom.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    h4{
    margin-left: 60px;
    position:relative;
}
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Movie Prophet</a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-bullhorn"></i> Overview</a>
                    </li>
                    <li>
                        <a href="{{ url_for('prediction') }}"><i class="fa fa-fw fa-magic"></i> Prediction</a>
                    </li>
                    <li>
                        <a href="{{ url_for('chart') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="{{ url_for('table') }}"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('about') }}"><i class="fa fa-fw fa-info-circle"></i> About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            <a href="https://github.com/nelson-ds/movie-prophet" target="_blank"> About</a>
                        </h2>
                        <hr>
                    </div>
                </div>
                <!-- /.row -->

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="section-heading">Video Pitch</h3><br /><br />
                            <iframe width="600" height="315" src="https://www.youtube.com/embed/qj9zRCihm0Y">
                            </iframe>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="section-heading">Project Architecture</h3><br /><br />
                            <img src="{{ url_for("static", filename="images/architecture.jpg") }}" alt="Architecture" style="width:100%;height:423px;">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="section-heading">Our Amazing Team</h3><br /><br />
                            <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                    <img src="{{ url_for("static", filename="images/team/1.png") }}" class="img-responsive myImageCircle" alt="">
                                    <h4 margin=34>Nelson Dsouza</h4><br />
                                    <p class="text-muted">Information Management graduate student majoring in Data Science at University of Washington</p><br />
                                    <ul class="list-inline">
                                        <li><a href="https://linkedin.com/in/nelsondsouza1/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li><a href="https://github.com/nelson-ds/" target="_blank"><i class="fa fa-github"></i></a>
                                        </li>
                                        <li><a href="mailto:nelsonds@uw.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                    <img src="{{ url_for("static", filename="images/team/2.png") }}" class="img-responsive myImageCircle" alt="">
                                    <h4>Maria George</h4><br />
                                    <p class="text-muted">Information Management graduate student majoring in Data Science at University of Washington</p><br />
                                    <ul class="list-inline">
                                        <li><a href="https://www.linkedin.com/in/maria-george-176595104/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li><a href="http://github.com/marianov24" target="_blank"><i class="fa fa-github"></i></a>
                                        </li>
                                        <li><a href="mailto:gmaria@uw.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                                        </li>
                                    </ul>
                            </div>
                            <div class="col-lg-4" col-md-4 col-sm-4>
                                    <img src="{{ url_for("static", filename="images/team/3.png") }}" class="img-responsive myImageCircle" alt="">
                                    <h4>Saurabh Seth</h4><br />
                                    <p class="text-muted">Information Management graduate student majoring in Data Science at University of Washington</p><br />
                                    <ul class="list-inline">
                                        <li><a href="https://www.linkedin.com/in/saurabhseth123/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li><a href="https://github.com/takshila" target="_blank"><i class="fa fa-github"></i></a>
                                        </li>
                                        <li><a href="mailto:sseth12@uw.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                                        </li>
                                    </ul>
                            </div>

                        </div>

                        <div class="row text-center">
                            <br />
                            <p class="text-muted"><br />Capstone Project, Summer 2017, <a href="https://ischool.uw.edu/">University of Washington School of Information</a></p>
                            <br />
                        </div>
                        <div class="row text-center">
                        </div>
                    </div>
                </section>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>

</html>
