<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Prophet - The Box Office Predictor</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin.css') }}">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/morris.css') }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
hr {
    /* border: none;*/
    height: 30px;
    /* Set the hr color */
    /* background-color: #333; /* Modern Browsers */ */
}
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Movie Prophet</a>
            </div>

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ url_for('index') }}"><i class="fa fa-fw fa-bullhorn"></i> Overview</a>   
                    </li>
                    <li>
                        <a href="{{ url_for('prediction') }}"><i class="fa fa-fw fa-magic"></i> Prediction</a>   
                    </li>
                    <li class="active">
                        <a href="{{ url_for('chart') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="{{ url_for('table') }}"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}"><i class="fa fa-fw fa-info-circle"></i> About</a>   
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            Charts
                        </h2>
                        <hr>
                    </div>
                </div>
                <!-- /.row -->

                <div class='tableauPlaceholder' style='width: 1020px; height: 1034px; margin-left: auto; margin-right: auto;'><noscript><a href='#'><img alt='Story Title ' src='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Ch&#47;ChattyCity2&#47;Story1&#47;1_rss.png' style='border: none' /></a></noscript>

                <object class='tableauViz' width='1020' height='1034' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableausoftware.com%2F' /> <param name='site_root' value='' /><param name='name' value='Universityrankingdifferencevisualization-v2-4&#47;Universityrankinganalysis' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableausoftware.com&#47;static&#47;images&#47;Ch&#47;ChattyCity2&#47;Story1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                </object>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                    <img src="{{ url_for("static", filename="images/result_budget_revenue.png") }}" alt="Business Domain" style="width:800px;height:480px;">
                    <hr>
                    <img src="{{ url_for("static", filename="images/result_runtime_revenue.png") }}" alt="Business Domain" style="width:800px;height:480px;">
                    <hr>
                    
                    <img src="{{ url_for("static", filename="images/result_quarter_revenue.png") }}" alt="Business Domain" style="width:800px;height:480px;">
                    <hr>
                    
                    <img src="{{ url_for("static", filename="images/result_budget_cluster.png") }}" alt="Business Domain" style="width:800px;height:480px;">


                    </div>
                </div>
                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Tableau Script -->
    <script type='text/javascript' src='https://public.tableausoftware.com/javascripts/api/viz_v1.js'></script>

</body>

</html>
